
$desktop-fhd: 1920px;
$desktop-hd-plus: 1440px;
$desktop-hd: 1366px;
$laptop-breakpoint: 1024px;
$laptop-small: 800px;
$tablet: 768px;
$phone-plus: 600px;
$phone: 480px;
$phone-small: 360px;
$phone-extra-small: 320px;

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  
  display:none;

          @media (max-width:$tablet){
          display:inline-block,  
          }

    .toggler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      //cursor: pointer;
      width: 50px;
      height: 50px;
      opacity: 0;
    }

      .hamburger {
        position: absolute;
        top: -4px;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        //background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }


        /* Hamburger Line */
        .hamburger > div {
          position: relative;
          flex: none;
          width: 100%;
          height: 2.5px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease;
          display:none;

          @media (max-width:$tablet){
          display:inline-block,  
          }
        }

          /* Hamburger Lines - Top & Bottom */
          .hamburger > div::before,
          .hamburger > div::after {
          content: '';
          position: absolute;
          z-index: 1;
          top: -10px;
          width: 100%;
          height: 2.5px;
          background: inherit;
          
          }

            /* Third line - Moves Line Down */
            .hamburger > div::after {
            top: 10px;
            }

            
             
            /* Toggler Animation */
            .toggler:checked + .hamburger > div {
              transform: rotate(135deg);
            }

            /* Turns Lines Into X */
            .toggler:checked + .hamburger > div:before,
            .toggler:checked + .hamburger > div:after {
            top: 0;
            transform: rotate(90deg);
            }

            /* Rotate On Hover When Checked */
            .toggler:checked:hover + .hamburger > div {
            transform: rotate(225deg);
            }

            /* Show Menu */
            .toggler:checked ~ .menu {
            visibility: visible;
            display:none;

              @media (max-width:$tablet){
              display:inline-block,  
              }
            }

            .toggler:checked ~ .menu > div {
            transform: translate(250px,0) ease-in-out;
            transition-duration: 23s;
            }

            .toggler:checked ~ .menu > div > div {
              opacity: 1;
              transition:  opacity 0.4s ease 0.4s;
            }

            .menu {
              position: fixed;
              top: 54px;
              left: 0;
              width: 210px;
              height: 100%;
              visibility: hidden;
              overflow: hidden;
              background-color:rgba(0, 0, 0, 0.801218);
              
              
            }
            
            .menu > div > div > ul > li {
              list-style: none;
              color: white; 
              text-decoration:none;
              font-size: 1em;
              line-height:1.5em;
              padding: 0.3em;
              padding-top:1.4em;
              padding-left:18px;
            }

            .menu > div > div > ul > li > a {
              color: inherit;
              text-decoration: none;
              transition: color 0.4s ease;
            }
            

}  