@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$desktop-fhd: 1920px;
$desktop-hd-plus: 1440px;
$desktop-hd: 1366px;
$laptop-breakpoint: 1024px;
$laptop-small: 800px;
$tablet: 768px;
$phone-plus: 600px;
$phone: 400px;
$phone-small: 360px;
$phone-extra-small: 320px; 

*,
*:after,
*:before {
    box-sizing: border-box; 
}



html {
  scroll-behavior: smooth;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
    .header{
      max-width: 100vw;
      background-color: rgba(0, 0, 0, 0.801218);
      display:flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index:10;
        .logo-img{
          padding:11px 0px 9px 65px; 
          max-width: 190px;
          max-height: 80px;  
        }
            .nav{
              padding:20px 0px 9px 65px; 
              white-space: nowrap; //para que los link del menú de nav no genere el salto de linea. "wrap" es el opuesto
                .link{
                  font-size:1em;
                  font-weight: 600;
                  color:#ffffff;
                  text-decoration: none;
                  margin-right:15px;
                  padding:20px 0 20px 0;
                  
                  @media (max-width:$laptop-breakpoint){
                    visibility: hidden;  
                    }
                }
            }
    }
    .hero {
      max-width:100vw;
      background-image: linear-gradient(transparent, black), url('../assets/img/breakingbad04.png'); /* The image used */
      
      background-size:cover;  /* Resize the background image to cover the entire container */
      //background-position:center; /* Center the image */
      //background-repeat:no-repeat; /* Do not repeat the image */
      
      @media (max-width:$laptop-breakpoint){
      background-position: center 35px;
      min-height:100%; 
      }

      @media (max-width:$phone-extra-small){
        background-position: center 45px;
        min-height:100%; 
      
      } 
      
        .hero-content{
          margin-left:4em;
          padding-top:6.6em;
          color:#ffffff;

          @media (max-width:$laptop-breakpoint){
            margin-left:2em;
          }

            .hero-bb-title{
             display:none;

              @media (max-width:$laptop-breakpoint){
                display:inline-block; 
                padding-bottom:20px;
                font-size:1.7em;
                font-weight:600;
                padding-top:50px;
                }
                @media (max-width:$phone){
                  padding-top:50px;
                } 
            }

            .hero-logo{
            padding-bottom:20px; 
            padding-top:20px;
              @media (max-width:$laptop-breakpoint){
                display:none; 
                }
            }
            
            .serie-details{
              padding-bottom:1.7em;  
              .green{
              font-size:1em;
              font-weight: 600;
              color:#009C04;
              padding-right:10px;

                @media (max-width:$laptop-breakpoint){
                  display:none; 
                } 
              }
              .year{
              font-size:1em;
              font-weight: 200;
              color:#ffffff; 
              padding-right:10px; 
              }
              .age{
              border:0.5px solid white;
              padding:0px 9px 0px 10px;
              border-radius:5px; 
              }
              .bold{
              padding-left:10px;
              }  
            }
            
            .hero-button{
              background-color: rgba(157, 151, 151, 0.541521);
              border-radius:9px;
              color:#e9e9e9;
              margin-top:0.7em;
              margin-bottom:2em;
              margin-right:1.7em;
              padding: 18px 41px 18px 41px;
              border:none;
              font-size:1em;
              font-weight: 200;
              &:hover{background-color: rgba(250, 250, 250, 0.479); cursor:pointer;}
              &:focus {outline:0;} 

              @media (max-width:$laptop-breakpoint){
                padding: 18px 51px 18px 51px;
                border:none;
                font-size:1em;
                font-weight: 200; 
                margin-right:0; 
                margin-left:-8px; 
              } 
              @media (max-width:$phone){
                padding: 18px 41px 18px 41px;
                border:none;
                font-size:1em;
              } 

              @media (max-width:$phone-extra-small){
                padding: 15px 98px 15px 98px;
                margin-top:1px;
                margin-left:1px;
                border:none;
                font-size:1em;
              } 

              
            }
            

            .hero-button1{
                background-color:#ED0A1D;
                border-radius:9px;
                color:#e9e9e9;
                margin-top:0.7em;
                margin-bottom:1.4em;
                margin-right:1.7em;
                padding: 18px 41px 18px 41px;
                border:none;
                font-size:1em;
                font-weight: 200;
                &:hover{background-color: #ffffff; color:#ED0A1D; cursor:pointer;}
                &:focus {outline:0;}   

                @media (max-width:$laptop-breakpoint){
                  padding: 18px 42px 18px 42px;
                  border:none;
                  font-size:1em;
                  font-weight: 200; 
                }
                @media (max-width:$phone){
                  padding: 18px 35px 18px 35px;
                  border:none;
                  font-size:1em;
                } 

                @media (max-width:$phone-extra-small){
                  padding: 15px 91px 15px 92px;
                  border:none;
                  font-size:1em;
                } 
              }
              
            
            .hero-thump{
            vertical-align: middle;  
            padding-right:15px; 
            height:55px;

              @media (max-width:$laptop-breakpoint){
              display:none;         
              }
            }  

            .hero-paragraph{
              width:100%;
              font-size:1.2em;
              font-weight:200;
              max-width:500px;
              line-height:1.4em;  
              padding-bottom:53px;

              @media (max-width:$laptop-breakpoint){
                display:none;         
              } 
            }

            
        } 
    }    
    .series-wrapper{ 
      padding-top:25px;   
      color:#ffffff;
      background-color:#000000;
      padding-left:4em; 
      padding-bottom:40px;
        
          @media (max-width:$laptop-breakpoint){
            padding-left:2em;
          }
        .series-title {
          font-size:1.2em;
          font-weight:600;
          padding-bottom:1.6em; 
          padding-top: 0px;
        } 
        .series-chap {
          display:flex;
          width:100%;

          @media (max-width:$laptop-breakpoint){
            flex-direction: column;
          }
          
           
          .serie-chap {
            display:flex;
            align-items:center;
            flex-direction: column;
            justify-content: center;
            //scroll-snap-align: start;
            position:relative;

            @media (max-width:$laptop-breakpoint){
              display:inline-block;
            }

            .play{
              position:absolute;
              max-width:80px;
              left:36%;
              top:17%;
              transform: translate (0, -60%);
              &:hover{
              background-color:rgba($color: white, $alpha: 0.3);
              border-radius:50%;
              cursor:pointer;
              }

                @media (max-width:$phone){
                left:36%;
                top:15%;
                }
                @media (max-width:$phone-extra-small){
                  max-width:65px;
                  left:34%;
                  top:13%;
                } 
            }

              .chapter{
                display:flex;
                align-items:center;
                flex-direction: column;
                flex:1 1 auto;     // para que pueda crecer, para que pueda achicarse y que tenga un tamaño base
                min-width:50px;   //esta es la medida menor a la que va a llegar cuando esté en modo mobile
                padding-right:16px;
                scroll-snap-align: start;
                outline:none;
                border:0;   

                @media (max-width:$laptop-breakpoint){
                  width:100%;        //esto es para que respete el tamaño del padre
                  display:block;     //esto es para que respete el tamaño del padre
                 }

                 
                .chapter-img{
                  @media (max-width:$phone-plus){
                    flex-direction: column;
                    height:198px;  
                  }

                  @media (max-width:$phone){
                    flex-direction: column;
                    height:178px;  
                  }
                    
                  @media (max-width:$phone-extra-small){
                    flex-direction: column;
                    height:145px;
                  } 
                  }  
                

              }
              
              .serie-description{
                padding: 15px 0 50px 0px; 
                max-width:310px;
                .serie-title {
                font-weight:700;
                padding-bottom:8px;
                }
                .serie-paragraph{
                  font-size:1em;
                  font-weight:200;
                  line-height:1.3em;
                  @media (max-width:$phone-extra-small){
                    max-width:250px;
                  } 
                }
              }

            }
          } 
    }  

}
         
                      